@model IEnumerable<Model.EF.DonHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="/Admin/Home">Trang chủ</a>
        <i class="icon-angle-right"></i>
    </li>
    <li>
        Đơn hàng
    </li>
</ul>

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2>Danh sách đơn hàng</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>

        <div class="box-content">

            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                    <tr>
                        <th>Ngày đặt hàng</th>
                        <th>Khách hàng</th>
                        <th>Địa chỉ</th>
                        <th>Số điện thoại</th>
                        <th>Ghi chú</th>
                        <th>Tình trạng</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.MaDonHang">
                            <td>@Html.DisplayFor(modelItem => item.NgayDat)</td>
                            <td>@Html.DisplayFor(modelItem => item.KhachHang.TenKhachHang)</td>
                            <td>@Html.DisplayFor(modelItem => item.KhachHang.DiaChi)</td>
                            <td>@Html.DisplayFor(modelItem => item.KhachHang.SoDienThoai)</td>
                            <td>@Html.DisplayFor(modelItem => item.GhiChu)</td>
                            <td>@(item.TinhTrangGiaoHang ? "Đã giao hàng" : "Chưa giao hàng")</td>
                            <td>
                                <a class="btn" href="~/Admin/OrderForm/Detail/@item.MaDonHang">Chi tiết</a>
                                <a class="btn btn-info" href="~/Admin/OrderForm/Edit/@item.MaDonHang">Sửa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div><!--/span-->
</div><!--/row-->