@model Fashion.Areas.Admin.Models.ChangePassword

@{
    ViewBag.Title = "EditPassword";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white edit"></i><span class="break"></span>Thay đổi mật khẩu</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            @using (Html.BeginForm("EditPassword", "Profile", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="form-horizontal">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="typeahead">Nhập mật khẩu cũ</label>
                            <div class="controls">
                                @Html.PasswordFor(model => model.ExPassword, new { @class = "span6 typeahead"})
                                @Html.ValidationMessageFor(model => model.ExPassword)
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="typeahead">Nhập mật khẩu mới</label>
                            <div class="controls">
                                @Html.PasswordFor(model => model.Password, new { @class = "span6 typeahead"})
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="typeahead">Nhập lại mật khẩu mới</label>
                            <div class="controls">
                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "span6 typeahead"})
                                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                            </div>
                        </div>

                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary" name="btnSubmit">Submit</button>
                            <button type="reset" class="btn">Reset</button>
                        </div>
                    </fieldset>
                </div>
            }
        </div>
    </div><!--/span-->
</div><!--/row-->

